@import "normalize";
@import "mixin";

.oops {
	width: 100%;
	height: 100vh;
	background-color: #FFFFFF;

	img {
		width: 480px;
		height: 440px;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding-bottom: 30px;
	} 
}

@media screen and (max-width: 480px) {
	.oops {
		img {
			width: 90%;
			height: auto;
		}
	}		    
}